@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Source+Sans+Pro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fcf7f1;
    
}

h1, h2 {
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
}

/* Home */

.home-image-container {
    height: 600px;
    width: 100%;
    background: #444;
    overflow: hidden;
}

.home-image {
    height: 600px;
    width: 100%;
    background: url('../pictures/viking4.png') no-repeat center center;
    
}

/* Crashcourse */

.crashcourse {
    height: 600px;
}

/* Navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    background-color: #e64a19;
}

.menu li {
    float: right;
    margin-right: 30px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


/* footer */
footer {
    height: 150px;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #e64a19;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

/* timeline */

.timeline {
    clear: both;
}

.timeline-left {
    float: left;
}

.timeline-right {
    float: right;
}

/* Timeline nav */

.timeline-nav {
    font-size: 110%;
    height: 30px;
    width: 100%;
}

.timeline-nav li {
    float: left;
    list-style-type: none;
    
}

.timeline-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
   
}

/* Newsletter */

.newsletter-section {
    clear: both;
    background: url('../pictures/viking2.jpg');
    height: 900px;
    background-position: center;
    background-size: cover;
   
    
}