@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Source+Sans+Pro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
}