@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Source+Sans+Pro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../assets/pictures/viking1.webp');
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
}

/* Timeline */


.video-home {
    
}




/* footer */
footer {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e64a19;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}